@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
    --bg-color: #221225;
    --baord-color: #2f2b3a;
    --border-color: #908d96;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: var(--bg-color);
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.heading {
    font-size: 150px;
    color: #d7a4dd;
}

.start-btn {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    background-color: #d7a4dd;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #221225;
    border: none;
    cursor: pointer;

    &:hover {
        font-size: 35px;
    }
    
}


.container  {
    display: none;
}

.game-board {
    width: 100vw;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
    margin-top: 10em;

}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    background-color: var(--baord-color);
    border: 2px solid var( --border-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

/* .board.x .cell:hover::before {
    background-color: lightblue;
} */



.cell.x::before,
.cell.x::after {
    content: "";
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
    background-color: #d7a4dd;
}

.cell.x::before{
    transform: rotate(45deg);
}

.cell.x::after
{
    transform: rotate(-45deg);
}


.cell.circle::before,
.cell.circle::after {
    content: "";
    position: absolute;
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: #d7a4dd;
    border-radius: 50%;

}

.cell.circle::before {
    width: var(--mark-size);
    height: var(--mark-size);
    background-color: #d7a4dd;;
}

.cell.circle::after {
    width: calc(var(--mark-size) * .8);
    height: calc(var(--mark-size) * .8);
    background-color: #2f2b3a;
}

.win-message {
    position: fixed;
    top: 12em;
    left: 14.2em;
    right: o;
    bottom: 0;
    background-color: var(--bg-color);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    color: white;
}

.win-message button {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    background-color: #d7a4dd;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #221225;
    border: none;
    cursor: pointer;

    &:hover {
        font-size: 35px;
    }
    
}

.win-message.show {
    display: flex;
}