@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans Narrow', sans-serif;
    background-color: #221225;
}


.header-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.heading {
    font-size: 150px;
    color: #d7a4dd;
}

.start-btn {
    width: 200px;
    padding: 20px;
    border-radius: 50px;
    background-color: #d7a4dd;
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 30px;
    font-weight: 900;
    color: #221225;
    border: none;
    cursor: pointer;

    &:hover {
        font-size: 35px;
    }
    
}




